In [1]:
import os
import pandas 
import numpy 
from pyzipcode import ZipCodeDatabase
import matplotlib as plt

In [11]:
data_path = os.path.join(os.getcwd(), "data")
pop_path = os.path.join(data_path, "City_based_population.csv")
income_path = os.path.join(data_path, "kaggle_income.csv")
div_path = os.path.join(data_path, "population.csv")
# polution = os.path.join(data_path, "polution.csv")

In [12]:
pop_df = pandas.read_csv(pop_path)
div_df = pandas.read_csv(div_path)
inc_df = pandas.read_csv(income_path, encoding='latin-1')
# us_df = pandas.read_csv(c_2_c_path)

In [14]:
pop_df = pop_df.dropna()
pop_df.shape
pop_df.head(5)

         City  population  minimum_age  maximum_age
0  Aaronsburg        8495          0.0         84.0
1   Abbeville       39509          0.0         84.0
2       Abbot        7639          0.0         79.0
3  Abbotsford        7711          0.0         84.0
4      Abbott        7945          5.0         84.0

In [5]:
div_df.head(5)

,CountyId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga County,55036,26899,28137,2.7,75.4,18.9,0.3,...,0.6,1.3,2.5,25.8,24112,74.1,20.2,5.6,0.1,5.2
1,1003,Alabama,Baldwin County,203360,99527,103833,4.4,83.1,9.5,0.8,...,0.8,1.1,5.6,27.0,89527,80.7,12.9,6.3,0.1,5.5
2,1005,Alabama,Barbour County,26201,13976,12225,4.2,45.7,47.8,0.2,...,2.2,1.7,1.3,23.4,8878,74.1,19.1,6.5,0.3,12.4
3,1007,Alabama,Bibb County,22580,12251,10329,2.4,74.6,22.0,0.4,...,0.3,1.7,1.5,30.0,8171,76.0,17.4,6.3,0.3,8.2
4,1009,Alabama,Blount County,57667,28490,29177,9.0,87.4,1.5,0.3,...,0.4,0.4,2.1,35.0,21380,83.9,11.9,4.0,0.1,4.9

In [6]:
inc_df.head(5)

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328

In [15]:
print("population dataframe dimensions")
print(pop_df.shape)
print("diversity dataframe dimensions")
print(div_df.shape)
print("income dataframe dimensions")
print(inc_df.shape)

population dataframe dimensions
(17404, 4)
diversity dataframe dimensions
(3220, 37)
income dataframe dimensions
(32526, 19)

In [101]:
inc_refine = inc_df[['Mean', 'City', 'Stdev', 'Median']].groupby("City").mean()
inc_refine.head(5)
# inc_refine.to_csv(os.path.join(data_path,'Income_clean.csv'))

                    Mean         Stdev         Median
City
Abbeville   38459.428571  32514.428571   28405.142857
Abbotsford  58254.000000  48933.000000   44919.000000
Aberdeen    68306.500000  48011.125000   61055.125000
Abilene     51441.866667  39243.666667   74357.666667
Abingdon    85714.166667  54581.333333  177704.000000

In [52]:
# inc_refine_sum = inc_refine.groupby('City').sum()
# inc_df[inc_df.City == "Chickasaw"]
# group_new = inc_df.groupby("City")
# ((group_new.get_group("Chickasaw"))[['Zip_Code']].values)
# filter_us_df = us_df[['city', 'state_id','state_name', 'county_name']]
# us_df.columns
# us_df[us_df.city == "New York"]
# us_df.head()
# us_df.groupby['city']